<h1>Gerenciador de Conteúdo</h1>

<a href="http://localhost/php/Iniciante/CrudPHP/?pagina=admin&metodo=create">Criar Publicação</a><br><br>
<hr>
<br>
<table border ="2">
	<tr>
		<th>ID</th>
		<th>TITULO</th>
		<th>ALTERAÇÃO</th>
		<th>DELEÇÃO</th>
	</tr>

	{% for postagem in postagens %}
	<tr>
		<th>{{postagem.id}}</th>
		<th>{{postagem.titulo}}</th>
		<th><a href="http://localhost/php/Iniciante/CrudPHP/?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAR</a></th>
		<th><a href="http://localhost/php/Iniciante/CrudPHP/?pagina=admin&metodo=deletar&id={{postagem.id}}">DELEÇÃO</a></th>
	</tr>
	{% endfor %}
</table>